body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    
    
}
 

.header {
    display: flex;
    background-color:#1F2937 ;
    font-size: 18px;
    color: #e5e5E7EB;
    flex-direction: column;
    padding: 0 200px;
    
    
}
     
.headertop {
    display: flex;
    justify-content: space-between;
    
    
}
    

.logo {
    font-size: 24px;
    color: #f9faf8; 
    font-weight: 600;
    align-self: center;
    
}

.hero_title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    
    
}
ul {
    list-style: none;
    /* margin-left: auto;    */
}
 

a {
    text-decoration: none;
    color: #e5e5E7EB;
 
}

li {
    display: inline-block;
    margin: 5px;
}

.photo {
    display: flex;
    background-color: grey;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    
   
    
}

.heroContainer {
    flex: 1;
    
    
}

.containerpicture {
    display: flex;
    /* justify-content: center; */
    padding: 100px 0;
    gap: 50px;
    /* flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1; */
    
    
}

.button {
    background-color: #3882f6 ;
    color: white;
    border-radius: 5px;
    padding:5px 20px;

}




footer {
    background-color:#1F2937;
    color: #e5e5E7EB;
    text-align: center;
    
    
    
}

.info_title {
    text-align: center;
    padding: 20px;
    font-size: 36px;
}

.picturescontainer {
    display: flex;
    padding: 0 150px;
    justify-content: center;
    text-align: center;
    gap: 50px;
    
    

}

.photoBorder {
    border: 3px solid #3882f6 ;
    width: 150px;
    height: 130px;
    border-radius: 10px;
    
    
    
}

.picturewithtext {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-basis: 0;
    flex-grow: 0;
    
}


.quotecontainer {
    
    padding:150px 350px;
    background-color: #e5e5E7EB;

}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 10px;
    
    
}

.quoteauthor {
    text-align: end;
    font-weight: 800;
}

.signupcontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 100px 300px;
}

.bluecontainer {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 40px 100px;
    display: flex;
    gap: 100px;
}

.bottomsignup {
    background-color: #3882f6;
    border-color: white;
    color: white;
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bold;
    border-style: solid;
    
}

.signuptitle {
    font-weight: bold;
}

footer {
    
    padding: 30px;
}